@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable-next-line at-rule-no-unknown */
@layer base {
    :root {
        --color-lightBrown: #f1efe5;
        --color-lightGreen: #e8fcd9;
        --color-lightGrey: #f2f2f2;
        --color-accentRed: #da6864;
        --color-accentGreen: #55ab67;
        --color-accentBrown: #e6e2d6;
        --color-accentBlue: #5b75a6;
        --color-accentGrey: #807970;
        --color-darkBrown: #918e81;
        --color-selectedItemGrey: #cccfdc;
        --color-selectedItemBorderGrey: #c5c5cf;
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 78px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    font-size: 13px;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
button {
    font-family: 'Poppins', sans-serif;
}

/* .div {
  @apply bg-;
} */

.logo {
    position: relative;
    font-size: 2.3rem;
    font-weight: 700;
    cursor: pointer;
}

.logo::after {
    content: '.';
    color: #55ab67;
}

.bg-dots {
    background-image: url(https://assets-global.website-files.com/5b5a66e9f3166b36708705fa/5dea7a12bb83ab1f13040de5_cx-dots.svg);
    background-repeat: no-repeat
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1efe5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5B75A6;
    border-radius: 2px;
}